<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {
                width: 100%;
                height: 100%;
            }
            .col {
                width: auto;
            }   
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div id="container fluid justify-content-center">
            <div class="row" id="nav">
                <header class="d-flex justify-content-center py-3">
                    <ul class="nav nav-pills">
                        <li class="nav-item" title="Homepage"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                        <li class="nav-item" title="Check Your Password"><a href="/check" class="nav-link">Check</a></li>
                    </ul>
                </header>
            </div>
            <div class="col">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae earum facilis quia nihil, nobis explicabo dicta, pariatur magni corrupti, fugiat quidem voluptates. Odio magnam placeat voluptatum quibusdam laudantium impedit nobis?</p>    
            </div>
        </div>

        <!--JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
