<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body onload="getWords()">
        <div class="container fluid">
            <br>
            <h1 class="heading">Test Password</h1>
            <br>
            <div class="row" id="maincolumn">
                <div class="d-flex justify-content-center align-items-center py-4">
                    <div id="input">
                        <form id="pwdform">
                            <input type="password" name="pwd" id="pwdinput"></input>
                        </form>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center align-items-center py-2">
                    <form>
                        <select id="cpu">
                            <option value="">Select a cpu</option>
                            {% for option in cpus %}
                                <option value={{option}}>{{option}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="d-flex justify-content-center align-items-center py-2">
                    <p id="complexity">No Password Inputed and No Cpu Selected</p>
                </div>
                <br>
                <div class="d-flex justify-content-center align-items-center py-2">
                    <p id="words"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center py-2">
                    <button onclick="getWords()" id="regenerate">Regenerate</button>
                </div>
            </div>
            
        </div>
        <!--JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- ^ using bootstrap -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--using jquery-->
        <script type="text/javascript" src="{{url_for('static', filename='pwdChkr.js')}}"></script> <!--using module 'pwdChkr.js'-->
        <script>
            window.cpu = null;

            function getWords() { // makes call to backend route `/randomWords` which returns string of four random words
                $.ajax({
                    url:"/randomWords",
                    dataType:"text",
                    type:"GET",
                    success : function(response) {
                        document.getElementById('words').innerHTML = response;
                        console.log(response)
                    }
                }); 
            }

            function getCpu(cpu) { // makes call to backend route `/cpuinfo` which fetches data from database
                $.ajax({
                    url:"/cpuinfo?cpu=" + cpu,
                    dataType:"text",
                    type:"GET",
                    success : function(response) {
                        var response = JSON.parse(response);
                        window.cpu = response[0][4];
                        display();
                    }
                });
            }

            function display() {
                if(window.cpu!=null) {
                    if(window.pwd[0]['value']!='') { // if there is something in the password field
                        var calculations = timeToCrack(window.pwd[0]['value'], window.cpu); // pass it through to 'timeToCrack()'
                        var time = toApropriateTime(calculations); // convert what you gathered from 'timeToCrack()' to the apropriate time with 'toApropriateTime()'
                        console.log(time); // log it to the console
                        
                        if(time!="nil") {
                            document.getElementById('complexity').innerHTML = "Your password takes " + time + " to crack!"; // if it takes time to crack
                        }else { 
                            document.getElementById('complexity').innerHTML = "Virtually no time to crack!"; // if it doesnt
                        }
                    }else {
                        document.getElementById('complexity').innerHTML = "No Password Inputed"; // if the pwd field = '' or nothing
                    }
                }else {
                    var state = document.getElementById('complexity');
                    if(state=="No Password Inputed") {
                        document.getElementById('complexity').innerHTML = "No Password Inputed and No Cpu Selected"; // if both the password and cpi fields have no input
                    }else {
                        document.getElementById('complexity').innerHTML = "No Cpu Selected"; // if just there is no cpu selected
                    }
                }
            }

            $('#pwdform').on('input', function() { // on input in the form
                var pwd;
                window.pwd = $('#pwdform').serializeArray();
                display();
            });

            $('#cpu').on('change', function() { // on change in the cpu field
                var cpu = $('#cpu').find(':selected').text();
                if(cpu == "Select a cpu") {
                    window.cpu = null;
                    display();
                }else {
                    getCpu(cpu);
                }
            });
        </script>
    </body>
</html>
